# GitHub
GITHUB_TOKEN=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=ml_underground

# MinIO
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Airflow
AIRFLOW_ADMIN_PASSWORD=
